.top { 
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 36px;
}

.bottom {
  display: flex;
  flex: 0 1 auto;
  width: 100%;
}

.right .bottom {
  flex-direction: column;
}

.input-json {
  display: flex;
  min-width: 100%;
  max-width: 100%;
  word-wrap: normal;
  flex: 1 1 auto;
  overflow-y: auto;
  height: 300px;
}

.line {
  display: flex;
  border: 1px solid red;
  margin-left: 10px;
}

.left {
  display: flex;
  flex-direction: column;
  min-width: 30%;
}

.right {
  display: flex;
  flex: 1 1 auto;
  margin-left: 20px;
  flex-direction: column;
  position: sticky;
}

.right .top{
  justify-content: space-between;
}

.com {
  display: flex;
  flex: 0 1 auto;
}

.btns-container {
  display: flex;
  justify-content: space-between;
}

.btns {
  display: flex;
  flex-wrap: nowrap;
  align-self: flex-start;
  margin-top: 20px;
}

.btn {
  height: 36px;
  width: 100px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-left: 8px;
}

.btn-delete {
  right: 0;
  background-color: red;
}

.btn-copy {
  right: 120px;
}

.btn-paste {
  background-color: rgb(47, 255, 0);
}

.btn-save {
  background-color: green;
}

.btn:hover {
  opacity: 0.7;
}

.title {
  display: flex;
  text-wrap: nowrap;
}