.switcher {
  display: flex;
  gap: 12px;
  margin-bottom: 28px;
}

.switcher_btn {
  font-size: 24px;
  background-color: white;
  cursor: pointer;
  border-radius: 12px;
  padding: 8px 12px;
}

.switcher_btn-active {
  background-color: aqua;
}

.file-upload-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.custom-file-upload {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: 2px solid #4CAF50;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
  background-color: #45a049;
}

.input_btn {
  display: none;
}

.save_json_btn {
  padding: 10px 20px;
  background-color: #2196F3;
  color: white;
  border: 2px solid #2196F3;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.save_json_btn:hover {
  background-color: #0b7dda;
}

.buttons {
  display: flex;
  gap: 12px;
}