.bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.512);
  z-index: 1;
  color: rgb(0, 0, 0)
}

.bg-hide {
  display: none;
}

.menu-conatiner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 600px;
  height: 500px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.menu-title {
  align-self: center;
}

.input-name {
  flex: 0 1 auto;
  height: 40px;
  align-self: center;
  width: 100%;
  display: flex;
  text-align: center;
}

.input-name::placeholder {
  text-align: center;
}

.set-btn {
  height: 40px;
  margin-top: 16px;
  border-radius: 12px;
  cursor: pointer;
}

.set-btn:hover {
  opacity: 0.7;
}

.saved-item {
  display: flex;
  flex: 0 1 auto;
  margin-bottom: 8px;
  font-size: 20px;
  margin-left: 16px;
  margin-right: 60px;
  justify-content: space-between;
}

.left-item:hover {
  background-color: lightgray;
}

.left-item {
  flex: 1 1 auto;
  border-bottom: 1px solid black;
  cursor: pointer;

}

.right-item {
  flex: 0 0 auto;
  cursor: pointer;
  margin-left: 12px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
}

.right-item:hover {
  background-color: rgb(221, 102, 102);
}