.bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.512);
  z-index: 1;
  color: rgb(0, 0, 0)
}

.bg-hide {
  display: none;
}

.menu-conatiner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 600px;
  height: 500px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.menu-title {
  align-self: center;
}

.input-name {
  flex: 0 1 auto;
  height: 40px;
  align-self: center;
  width: 100%;
  display: flex;
  text-align: center;
}

.input-name::placeholder {
  text-align: center;
}

.set-btn {
  height: 40px;
  margin-top: 16px;
  border-radius: 12px;
  cursor: pointer;
}

.set-btn:hover {
  opacity: 0.7;
}

.saved-item {
  border: 1px solid black;
  margin-bottom: 4px;
  cursor: pointer;
}