.App {
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
}

.bottom {
  flex: 1 1 auto;
  width: 100%;
}

.top { 
  display: flex;
  justify-content: space-between;
}

.right {
  display: flex;
  flex: 1 1 auto;
  margin-left: 20px;
}

.input-json {
  display: flex;
  min-width: 100%;
  max-width: 100%;
  word-wrap: normal;
  flex: 1 1 auto;
  resize: vertical;
  overflow-y: auto;
}

